.idea
tsakorpus_*/
mari-corpus/
magazines_and_students_books/
magazines_and_student_books_txt/
corpora/hill-news-corpus/
corpora/Gornomari.fwdata
mari_vs_russian.classifier
mari_vs_russian.vectorizer
pretrain_mari_llm.dataset/
mari-bert-tokenizer
mari-roberta-tokenizer
misc-hill-corpus/
mari_datasets/
corpora/
